.box {
  background-color: color-mix(in srgb, var(--color-black-900) 90%, transparent);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 1.5rem;
}

.box--full-width {
  margin-left: calc(var(--page-gutter) * -1);
  margin-right: calc(var(--page-gutter) * -1);
  border-radius: 0;
}

.box--bleed {
  @include media-query(max-sm) {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.box--md {
  @include media-query(md) {
    padding: 3rem;
  }
}
