.page,
.page__content {
  display: flex;
  flex-direction: column;
}

.page {
  min-height: 100dvh;
}

.page__boundary {
  @include media-query(max-sm) {
    transition-property: transform;
    transition-duration: var(--nav-anim-duration);
    transition-timing-function: ease-in-out;

    .has-active-nav & {
      transform: translateX(calc(var(--nav-mobile-width) * -1));
    }
  }
}

.page__content {
  --page-gutter: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--header-height) var(--page-gutter) var(--page-gutter);
}
