---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Content from "@/components/Content.astro";
---

<Layout
  title="Contact"
  description="Get in touch with us for bookings and enquriries"
  ogImage="/img/bunj-1500.webp"
>
  <Hero
    srcset="/img/bunj-1000.webp 1000w, /img/bunj-1500.webp 1500w, /img/bunj-2000.webp 2000w"
    alt="Eat Your Own Head live"
    width="2000"
    height="1396"
    slot="hero"
  />

  <Content class="contact">
    <h1 class="heading">Contact</h1>
    <p>
      Get in touch with us via the below emails for bookings and general
      enquiries:
    </p>

    <dl class="grid">
      <div>
        <dt>Bookings</dt>
        <dd>
          <a href="mailto:ash@drongorecords.com" class="link"
            >ash@drongorecords.com</a
          >
        </dd>
      </div>
      <div>
        <dt>Band</dt>
        <dd>
          <a href="mailto:eatyourownhead@gmail.com" class="link"
            >eatyourownhead@gmail.com</a
          >
        </dd>
      </div>
    </dl>
  </Content>
</Layout>

<style lang="scss">
  .contact {
    max-width: 48rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .grid {
    margin-top: 1.5rem;
    display: grid;
    grid-gap: 1.5rem;

    dt {
      color: var(--color-white);
      margin-bottom: 0.25rem;
    }

    @include media-query(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
