---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <Hero
    srcset="/img/voodoos-1000.webp 1000w, /img/voodoos-1500.webp 1500w, /img/voodoos-2000.webp 2000w"
    alt="Eat Your Own Head playing on stage"
    width="2000"
    height="1328"
    slot="hero"
  />

  <div class="box box--full-width content">
    <div class="container container--md content__row">
      <a
        href="https://www.voodoodaddysshowroom.co.uk/listing_single/1702394432967x163742540127535100"
        target="_blank"
        rel="noopener"
        class="content__figure"
      >
        <img
          srcset="/img/news/voodoos-jan-152.webp 152, /img/news/voodoos-jan-304.webp 304w"
          sizes="152px"
          width="152"
          height="152"
          alt="Voodoo Daddy's headline show poster"
          loading="lazy"
        />
      </a>

      <div class="content__inner">
        <h1>Norwich Headline Show - tickets on sale now</h1>

        <p>
          Buy tickets for our upcoming headline show at the new Voodoo Daddy's
          venue. Support from <a
            href="https://jomotuun.bandcamp.com/album/one-tuun"
            target="_blank"
            rel="noopener">Jomo Tuun</a
          > and <a
            href="https://www.instagram.com/withteethband/"
            target="_blank"
            rel="noopener">With Teeth</a
          >.
        </p>

        <ul class="actions">
          <li>
            <a
              href="https://www.voodoodaddysshowroom.co.uk/listing_single/1702394432967x163742540127535100"
              target="_blank"
              rel="noopener"
              class="link">Book Tickets</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .content {
    margin-top: auto;

    @include media-query(md) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .content__row {
    @include media-query(sm) {
      display: flex;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }

  .content__figure {
    flex-shrink: 0;
    filter: grayscale(1);

    @include media-query(max-sm) {
      display: none;
    }
  }

  .content__inner {
    :where(a:not([class])) {
      color: var(--color-black-300);
      text-decoration: underline;
      text-decoration-color: var(--color-black-700);
      text-underline-offset: 2px;

      &:hover {
        color: var(--color-white);
        text-decoration-color: var(--color-white);
      }
    }
  }

  .content__inner > :where(* + *) {
    margin-top: 0.5rem;

    @include media-query(sm) {
      margin-top: 1rem;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 1rem;
  }
</style>
