---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <Hero
    srcset="/img/voodoos-1000.webp 1000w, /img/voodoos-1500.webp 1500w, /img/voodoos-2000.webp 2000w"
    alt="Eat Your Own Head playing on stage"
    width="2000"
    height="1328"
  />

  <div class="box box--full-width content">
    <div class="container">
      <div class="content__inner">
        <h1>New single 'Chest Pains' out now</h1>

        <p>
          We are pleased to announce our new single Chest Pains. Now available
          on all digital platforms, and our EP is available for pre-order on CD
          or vinyl
        </p>

        <ul class="actions">
          <li><a href="#" class="link">Listen</a></li>
          <li><a href="#" class="link">Pre-order</a></li>
        </ul>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .content {
    margin-top: auto;

    @include media-query(md) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .content__inner > * + * {
    margin-top: 0.5rem;

    @include media-query(sm) {
      margin-top: 1rem;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 1rem;
  }
</style>
