---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <div class="content">
    <div class="container">
      <img
        class="content__image"
        srcset="/img/crowd-epic-2000.webp 2000w"
        sizes="100vw, (min-width: 75rem) 75rem"
        alt="Eat Your Own Head playing on stage in front of an audience"
      />

      <div class="content__inner">
        <h1>New single 'Chest Pains' out now</h1>

        <p>
          We are pleased to announce our new single Chest Pains. Now available
          on all digital platforms, and our EP is available for pre-order on CD
          or vinyl
        </p>

        <ul class="actions">
          <li><a href="#" class="link">Listen</a></li>
          <li><a href="#" class="link">Pre-order</a></li>
        </ul>
      </div>
    </div>
  </div>
</Layout>

<style>
  .content {
    display: flex;
    flex-grow: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-x: hidden;
  }

  .container {
    display: flex;
    flex-grow: 1;
    position: relative;
    padding-bottom: 3rem;
  }

  .content__image {
    position: absolute;
    inset: 0 -4rem;
    width: calc(100% + 8rem);
    height: 100%;
    object-fit: cover;
    z-index: -1;
    mix-blend-mode: lighten;
    mask-image: linear-gradient(to right, transparent, #000 200px),
      linear-gradient(to left, transparent, #000 200px);
    mask-composite: intersect;
    animation-timeline: scroll(root);
    animation-name: parallax;
    animation-direction: alternate;
    animation-duration: 1ms;
  }

  @keyframes parallax {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-10px);
    }
  }

  .content__inner {
    margin-top: auto;
    max-width: 34rem;
  }

  .content__inner > * + * {
    margin-top: 1rem;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 1rem;
  }
</style>
