---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";

const showNews = true;
---

<Layout
  title="Home"
  description="Eat Your Own Head present an enticing blend of rich, heavy alt-rock that sidesteps some of the genres more obvious pitfalls"
  ogImage="/img/voodoos-1500.webp"
>
  <Hero
    srcset="/img/voodoos-1000.webp 1000w, /img/voodoos-1500.webp 1500w, /img/voodoos-2000.webp 2000w"
    alt="Eat Your Own Head playing on stage"
    width="2000"
    height="1328"
    slot="hero"
  />

  {
    showNews && (
      <div class="box box--full-width content">
        <div class="container container--md content__row">
          <a
            href="https://open.spotify.com/album/5zRwynWaMpsufw2rVx4DeC?si=huEXCzQvQXiVmyg8s7-evQ"
            target="_blank"
            rel="noopener"
            class="content__figure"
          >
            <img
              srcset="/img/news/trawler-152.webp 152w, /img/news/trawler-304.webp 304w"
              sizes="152px"
              width="152"
              height="152"
              alt="Trawler single cover"
              loading="lazy"
            />
          </a>

          <div class="content__inner">
            <h1>Trawler - New single out now</h1>

            <p>Listen to our new new single Trawler on Spotify.</p>

            <ul class="actions">
              <li>
                <a
                  href="https://open.spotify.com/album/5zRwynWaMpsufw2rVx4DeC?si=huEXCzQvQXiVmyg8s7-evQ"
                  target="_blank"
                  rel="noopener"
                  class="link"
                >
                  Listen now
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    )
  }
</Layout>

<style lang="scss">
  .content {
    margin-top: auto;
    // Offset page gutter so strips are flush
    margin-bottom: calc(var(--page-gutter) * -1);

    @include media-query(md) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .content__row {
    @include media-query(sm) {
      display: flex;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }

  .content__figure {
    flex-shrink: 0;

    @include media-query(max-sm) {
      display: none;
    }
  }

  .content__inner {
    :where(a:not([class])) {
      color: var(--color-black-300);
      text-decoration: underline;
      text-decoration-color: var(--color-black-700);
      text-underline-offset: 2px;

      &:hover {
        color: var(--color-white);
        text-decoration-color: var(--color-white);
      }
    }
  }

  .content__inner > :where(* + *) {
    margin-top: 0.5rem;

    @include media-query(sm) {
      margin-top: 1rem;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 1rem;
  }
</style>
