---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Content from "@/components/Content.astro";
---

<Layout
  title="Music"
  description="Stream our full discography online"
  ogImage="/img/arts-centre-1500.webp"
>
  <Hero
    srcset="/img/arts-centre-1000.webp 1000w, /img/arts-centre-1500.webp 1500w, /img/arts-centre-2000.webp 2000w"
    alt="Eat Your Own Head on stage"
    width="2000"
    height="1396"
    slot="hero"
  />

  <Content>
    <h1 class="heading">Music</h1>

    <iframe
      src="https://open.spotify.com/embed/artist/6xuvJjkb2JNTf4MXK7bSyM?utm_source=generator&theme=0"
      width="100%"
      height="500"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>

    <h2 class="heading">Releases</h2>

    <div class="grid">
      <iframe
        src="https://open.spotify.com/embed/album/1YH9Sj8rbn1VwWAHyo9WH4?utm_source=generator&theme=0"
        width="100%"
        height="500"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>

      <iframe
        src="https://open.spotify.com/embed/album/3D9U2olAUlkQkppv4KZ5S2?utm_source=generator&theme=0"
        width="100%"
        height="500"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
    </div>
  </Content>
</Layout>

<style lang="scss">
  .heading {
    * + & {
      margin-top: 3rem;
    }
  }

  .grid {
    display: grid;
    gap: 1.5rem;

    @include media-query(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
