---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Content from "@/components/Content.astro";

type Quote = {
  content: string;
  source: string;
};

const quotes: Quote[] = [
  {
    content:
      "Quite the wildcard, leaping and bounding through a variety of styles and tones with no end of confidence...an exhilarating assortment of sensations that has boundless replayability as you try to wrap your head around it. EAT YOUR OWN HEAD have evidently poured a lot of imagination and inventiveness into this release and it has paid off emphatically.",
    source: "Distorted Sound [9/10]",
  },
  {
    content:
      "Sit with this record, try and digest what in tarnation is going on, but enjoy what they have to offer, as it is engrossing and enjoyable in almost every moment.",
    source: "Noizze [8/10]",
  },
  {
    content:
      "The best rock album of the year for 2022...keeps growing on me, and I couldn’t have more fun getting into their dark, grungy yet fun sound",
    source: "Everything Is Noise",
  },
  {
    content:
      "Phenomenal... pulls from all kinds of stuff, from abrasive and aggressive noise rock, to winding proggy Mastodon/TOOL-isms, to sparkly little mathy bits... a dynamic and often utterly raging listen that will no doubt be even more fun to behold live",
    source: "Noob Heavy",
  },
];
---

<Layout
  title="Press"
  description="Download our press materials and resources"
  ogImage="/img/ben-new-voodoos-1500.webp"
>
  <Hero
    srcset="/img/ben-new-voodoos-1000.webp 1000w, /img/ben-new-voodoos-1500.webp 1500w, /img/ben-new-voodoos-2000.webp 2000w"
    alt="Eat Your Own Head live"
    width="2000"
    height="1396"
    slot="hero"
  />

  <Content class="press-content container--md">
    <h1 class="heading">Press</h1>
    <div class="typography">
      <p class="lede">
        Eat Your Own Head count themselves as one of the bands spearheading a
        new wave of heavy music, redefining the UK rock scene. Known for their
        unpredictable twists and turns, the band veer from floor stomping riffs
        to tender moments of dark tranquillity. Centred around an organic
        approach to creating their music, their lyrics tap into the struggles of
        navigating modern life in 2024.
      </p>

      <p>
        Their latest EP, 'The Trawler' is released 31st May 2024 via Drongo
        Records.
      </p>

      <p>
        Taking inspiration from everything from Nirvana, Radiohead and Black
        Midi, the band formed in 2019 and were straight out of the blocks with
        the Hank EP in 2020, quickly landing themselves notable accolades from
        BBC 6music, The of Best Fit, Louder Than War, and Amazing Radio.
      </p>

      <p>
        In 2022, Eat Your Own Head, released their debut album 'Neck-Deep In The
        Blyth', recorded by Tom Peters (Alpha Male Tea Party, Bicurious, The
        Hyena Kill) at Trapdoor Studios and mastered by Katie Tavini (Los
        Bitchos, Arlo Parks, Zuzu).
      </p>

      <p>
        The quartet have built a strong live reputation from the word go and
        have headlined shows across the UK and Ireland and supported acts such
        as The Physics House Band, Heavy Lungs, St. Pierre Snake Invasion, Sugar
        Horse, The Guru Guru and many more.
      </p>

      <p>
        Eat Your Own Head would like to thank Help Musicians for their financial
        support for releasing 'The Trawler' EP.
      </p>

      {
        quotes.map(({ content, source }) => (
          <blockquote>
            <p class="lede">&ldquo;{content}&rdquo;</p>
            <span>- {source}</span>
          </blockquote>
        ))
      }

      <p>
        <a
          href="https://drive.google.com/drive/folders/14Dnk6LIgL1tvfu4bPsJhhiQCtfIcODmD?usp=sharing"
          target="_blank"
          rel="noopener"
          class="link">Download press materials</a
        >
      </p>
    </div>
  </Content>
</Layout>

<style lang="scss">
  .press-content {
    margin-block: auto;
  }
</style>
