---
import { Icon } from "astro-icon/components";

type SocialItem = {
  title: string;
  url: string;
  icon: string;
};

const socialItems: SocialItem[] = [
  {
    title: "Spotify",
    url: "https://open.spotify.com/artist/6xuvJjkb2JNTf4MXK7bSyM",
    icon: "spotify",
  },
  {
    title: "Apple Music",
    url: "https://music.apple.com/gb/artist/eat-your-own-head/1535887925",
    icon: "apple-music",
  },
  {
    title: "Instagram",
    url: "https://www.instagram.com/eatyourownheadmusic/",
    icon: "instagram",
  },
  {
    title: "Facebook",
    url: "https://facebook.com/eatyourownheadmusic",
    icon: "facebook",
  },
  {
    title: "YouTube",
    url: "https://www.youtube.com/channel/UCQ8dd_IORwUqRo4YVjWyHFA",
    icon: "youtube",
  },
  {
    title: "Twitter",
    url: "https://twitter.com/eyohmusic?lang=en",
    icon: "twitter",
  },
  {
    title: "Mailing list",
    url: "#newsletter-email",
    icon: "mail",
  },
];
---

<ul class="social">
  {
    socialItems.map(({ title, icon, url }) => (
      <li>
        <a
          href={url}
          aria-label={title}
          class="social__link"
          rel="noopener noreferrer"
        >
          <Icon
            name={icon}
            class:list={["social__icon", `social__icon--${icon}`]}
          />
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  .social {
    display: flex;
    gap: 0.75rem;

    @include media-query(max-md) {
      margin-top: 0.75rem;
    }
  }

  .social__link {
    display: block;
    color: var(--color-black-500);

    &:hover {
      color: var(--color-white);
    }
  }

  .social__icon {
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 1.5;

    /* Prevents weird slow nested transitions in some browsers */
    &,
    :global(*) {
      transition: none;
    }

    @include media-query(md) {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .social__icon--spotify {
    :global(path) {
      stroke: none;
      fill: currentColor;
    }
  }
</style>
