<div class="colophon">
  <p class="colophon__content container">
    Made by <a href="https://github.com/jwoolnough" rel="noopener"
      >@jwoolnough</a
    > &mdash; <a
      href="https://github.com/jwoolnough/eyoh-website"
      rel="noopener">Source</a
    >
  </p>
</div>

<style>
  .colophon {
    background-color: var(--color-black-950);
    padding: 0 1.5rem 1rem;
  }

  .colophon__content {
    font-size: 0.75rem;
    border-top: 1px solid var(--color-black-800);
    padding-top: 1rem;
    text-align: center;
  }

  .colophon__content a {
    text-decoration: underline;
    text-decoration-thickness: from-font;
    text-underline-offset: 3px;
    transition-property: text-decoration-color, color;
    text-decoration-color: transparent;
  }

  .colophon__content a:hover {
    text-decoration-color: currentColor;
  }
</style>
