<footer class="footer" id="mailing-list">
  <div class="container">
    <h4>Sign up to our newsletter</h4>
    <form
      action="https://eatyourownhead.us17.list-manage.com/subscribe/post?u=336af7e0529acba4570fd4641&id=26f64552a4&f_id=006d61e0f0"
      method="post"
      target="_blank"
    >
      <label>Email Address</label>
      <input type="email" name="EMAIL" required />

      <button type="submit" class="link">Submit</button>
    </form>
  </div>
</footer>

<style lang="scss">
  .footer {
    background-color: var(--color-black-950);
    padding: 1.5rem;

    @include media-query(sm) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
</style>
