---
import Nav from "./header/Nav.astro";
import Social from "./header/Social.astro";
---

<header class="header">
  <div class="header__container container">
    <a class="logo" href="/">Eat Your Own Head</a>
    <Social />

    <Nav />
  </div>
</header>

<style lang="scss">
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    color: var(--color-white);
    font-weight: 400;
    z-index: 1;

    @include media-query(sm) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .header__container {
    @include media-query(sm) {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
  }
</style>
