---
import Nav from "./header/Nav.astro";
import Social from "./header/Social.astro";
---

<script>
  const initialize = () => {
    const header = document.getElementById("header");

    if (!header) {
      throw new Error("missing required elements");
    }

    const scrollWatcher = document.createElement("div");

    scrollWatcher.setAttribute("data-scroll-watcher", "");
    header.before(scrollWatcher);

    const observer = new IntersectionObserver((entries) => {
      header.classList.toggle("is-scrolled", !entries[0].isIntersecting);
    });

    observer.observe(scrollWatcher);
  };

  initialize();
  document.addEventListener("astro:after-swap", initialize);
</script>

<header class="header" id="header">
  <div class="header__container container">
    <div class="header__identity">
      <a class="logo" href="/">Eat Your Own Head</a>
      <Social />
    </div>

    <Nav />
  </div>
</header>

<style lang="scss">
  :root {
    --header-height: 105px;

    @include media-query(md) {
      --header-height: 123px;
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    color: var(--color-white);
    font-weight: 400;
    z-index: 1;
    transition-duration: 500ms;

    &.is-scrolled {
      background-color: color-mix(
        in srgb,
        var(--color-black-950) 90%,
        transparent
      );
      backdrop-filter: blur(5px);
    }

    @include media-query(max-sm) {
      transition-property: transform, background-color, backdrop-filter;
      transition-duration: var(--nav-anim-duration);
      transition-timing-function: ease-in-out;

      :global(.has-active-nav) & {
        transform: translateX(calc(var(--nav-mobile-width) * -1));
      }
    }

    @include media-query(md) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .header__container {
    @include media-query(sm) {
      display: flex;
      align-items: center;
    }
  }

  .header__identity {
    @include media-query(md) {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }

  .logo {
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
  }
</style>
