---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Colophon from "@/components/Colophon.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Eat Your Own Head</title>
    <link rel="stylesheet" href="https://use.typekit.net/rnw6tcb.css" />
  </head>
  <body>
    <Header />
    <div class="page__boundary">
      <div class="page">
        <main class="page__content">
          <slot />
        </main>
        <Footer />
      </div>
      <Colophon />
    </div>
  </body>
</html>

<style is:global lang="scss">
  :root {
    --color-primary-500: #dc9d76;
    --color-white: #fff;
    --color-black-500: #8b8b8b;
    --color-black-800: #2a2a2a;
    --color-black-900: #1a1a1a;
    --color-black-950: #121212;

    --anim-duration: 200ms;
  }

  @import "@/styles/base/reset";
  @import "@/styles/base/global";
  @import "@/styles/base/typography";

  @import "@/styles/components/button";
  @import "@/styles/components/container";
  @import "@/styles/components/page";

  @import "@/styles/utils/accessibility";
</style>
