*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;

  @media screen and (prefers-reduced-motion: no-preference) {
    transition-duration: var(--anim-duration);
  }
}

html {
  // TODO: Webfont
  font:
    300 1em/1.5 "brother-1816",
    sans-serif;
  background-color: var(--color-black-900);
  color: var(--color-black-500);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  @media screen and (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  font-size: 0.875rem;
}

button {
  background-color: transparent;
  border: none;
}

a:where(:hover) {
  color: var(--color-white);
}

::selection {
  background-color: var(--color-primary-500);
  color: var(--color-white);
}

// TODO: Focus ring
a:focus,
button:focus {
  outline: none;
  box-shadow:
    0 0 0 var(--color-black-950),
    0 0 0 2px var(--color-primary-500);
  border-radius: 2px;
}
